{{!-- Back button & Logo --}}
<div class="container-fluid">
    <a href="main"><button class="btn-outline-secondary btn rounded" style="margin-top:20px">Back
            Button</button></a>
    <img src="https://image.shutterstock.com/image-vector/no-image-available-icon-ui-260nw-1458092489.jpg"
        alt="Logo Goes Here" class="logo-img" />
</div>

<!-- Search Bar -->
<div class="container-fluid">
    <div class="row justify-content-center">
        <input class="rounded" type="text" placeholder="Search Restaurants..." style="margin: 0px 10px" />
        <button id="search-btn" class="btn-outline-secondary btn rounded">Search</button>
    </div>
</div>

{{#each restaurant}}
<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{image_url}}" alt="Restaurant-Image" class="restaurant-img" />
        </div>
    </div>

    {{!-- Restaurant Info, Rating, and Review --> --}}
    <div class="row">
        <div class="col">
            <h1 id="restaurant-title" class="restaurant-title">{{name}}</h1>
            <p>
                {{location.display_address}}
                <br>
                {{phone}}
                <br>
                {{url}}
                <br>
                {{rating}}
            </p>
        </div>
        <div class="save-review-btns">
            <button id="save-btn" class="btn-outline-secondary btn rounded">Save</button>
            <button id="review-btn" class="btn-outline-secondary btn rounded">Review</button>
        </div>
    </div>

    <section class="user-review">
        <div class="row">
            <div class="col">
                <h2>Reviews</h2>
                <div class="card" style="margin-bottom: 20px; padding: 10px;">
                    <div class="col user-name">
                        <h4 id="user-name">{{Email}}</h4>
                    </div>
                    <div class="col">
                        <textarea name="user-review" id="user-input" cols="46" rows="5">

                        </textarea>
                    </div>

                    <div>
                        <button id="submit-btn" class="btn-outline-secondary btn rounded" style="float: right;">Submit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="others-review">
        <div class="row">
            <div class="col">
                <h2>Other User's Review</h2>
            </div>
        </div>
        <div class="card" style="margin-bottom: 20px; padding: 10px;">
            <div class="col user-name">
                <h3 id="others-name"></h3>
            </div>
            <div>
                <p id="others-input">

                </p>
            </div>
        </div>
    </section>

</div>
{{/each}}